QMainWindow#designer{
    background-image: url(fondo.jpg);
    
}

QComboBox#ComboBox{
    background-color: #c2fbd7;
    color:green;
    position: relative;
  border: 1px solid #ccc;
  
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  

  border: 0;
  font-size: 16px;
 
}



QComboBox#ComboBox:selected:hover{
  /*background-color: #f3f4f6; */
background-color: transparent;
border-radius: 11px 11px black;
border-color: black;
color: black;
border: 1px solid #222222;
    
} 

QPushButton#btn_push{

  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  color: #000000;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
 
}

QPushButton#btn_push:hover{
  background-color: pink;
  font-size: 1.5rem;
  padding: .75rem 2rem;
  color:black;
  border-radius: 11px 11px;
border-color: black;
  
}
QPushButton#btn_push:hover:active{
  color: white;
  border-style: solid;
  border-width: 1px;
 font-size: 20px;

}


QLineEdit#Lines{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  
  border: 1px solid #555;
  outline: none;
  font-weight: bold;

}

QLineEdit#Lines:focus{
background-color: lightblue;
color: black;
font-size: 10px;
font-weight: bold;
}

QLabel#labelpage3{
  text-align: left; 
  font-family: "Helvetica Neue";
  font-size:12px;
  

}
QPushButton#btn_enviar{

background-color:black;
color:white;
border-style: solid;
border-width:5px;
border-radius: 11px;
border-color: orange;
font-size: 15px;

}

QPushButton#btn_enviar:hover{
background-color: orange;
color:white;
font-weight: bold;

}
